{% extends 'events/base.html' %}

{% block content %}



    <h2>My Events</h2>
    <br/>

    {% for event in events %}
                <div class="card">
          <div class="card-header">
            {{ event }}
          </div>
          <div class="card-body">
            <h5 class="card-title">Venue: {{ event.venue }}</h5>
            <p class="card-text">
                <strong>Date:</strong> {{ event.event_date }}<br/>
                <strong>Days Till Event: </strong> {{ event.days_left }}<br/>
                <strong>Manager:</strong> {{ event.manager }}<br/>
                <strong>Description:</strong> {{ event.description }}<br/>
                <strong>Attendees:</strong></br>
                {% for user in event.attendees.all %}
                    – {{ user }}<br/>
                {% endfor %}
            </p>
          </div>
          {% if user.is_authenticated %}
              {% if user == event.manager %}
                  <div class="card-footer text-body-secondary">
                        <td align="right">
                            <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary brn-sm">Update Event</a>
                        </td>
                        <td align="right">
                            <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger brn-sm">Delete Event</a>
                        </td>
                  </div>
              {% endif %}
          {% endif %}
        </div>
                <br/><br/>
    {% endfor %}

{% endblock %}
